<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Electric Meter Manager</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

    <div class="container my-2">
        <h1>Meters List</h1>

        <a th:href="@{/addMeter}" class="btn btn-primary btn-sm mb-3"> Add Meter </a>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Meter No</th>
                    <th>Meter Name</th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="meter : ${listMeter}">
                    <td th:text="${meter.meterNo}"></td>
                    <td th:text="${meter.meterName}"></td>
                    <td><a th:href="@{/addDetails/{id}(id=${meter.id})}" class="btn btn-primary">Add Details</a>
                        <a th:href="@{/deleteMeter/{id}(id=${meter.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>